

/* google fonts start here */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-normal{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.raleway-normal{
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* google fonts end here */






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
}

/* declared variable */
:root{
    --primary-color: #F7F7F7;
    --secondary-color: #111111;
    --tertiary-color: #FEA301;
    --quaternary-color: #01ACFD;
}






/* start here common class section which use in html file a lot of time  */
 
/* end here common class section which use in html file a lot of time  */







/* header section start here */
header{
    padding: 20px 140px 60px 140px;
}

/* navbar start here */
nav{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

nav>img{
    width: 62px;
    height: 62px;
    margin-right: 11px;

}

nav>h3{
    font-weight: 700px;
    font-size: 32px;
    color: var(--secondary-color);
    margin-right: 186px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    font-weight: 900px;
    font-size: 20px;
    text-decoration: none;
    margin-right: 32px;
}

.material-symbols-outlined{
    visibility: hidden;
}

#link-1{
    color: var(--tertiary-color);
}

#link-2{
    color: var(--quaternary-color);
}

#link-3{
    color: #05D4DF;
}

#link-4{
    color: #5D58EF;
    margin-right: 186px;

}

.btn-1{
    font-weight: 600px;
    font-size: 20px;
    color: var(--primary-color);
    padding: 10px;
    background-color: var(--tertiary-color);
    border-radius: 12px;
    border: none;
}
/* navbar end here */


/* header section end here */









/* media query start here */
@media screen and (max-width: 576px) {
    body{
        max-width: 576px;
    }

    header{
        padding: 12px 0 20px 0;
        margin-bottom: 40px;
    }

    nav{
        align-content: space-between;
        gap: 0 78%;
        margin: 0 16px 12px 16px;
    }

    nav>img{
        width: 46px;
        height: 46px;
    
    }

    nav>h3, nav>ul{
        display: none;
    }

    .material-symbols-outlined{
        visibility: visible;
    }


    .banner-container{
        border-top: 1px solid var(--tertiary-color);
    }
    
}

/* media query end here */