

/* google fonts start here */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-normal{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.raleway-normal{
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* google fonts end here */






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
}

/* declared variable */
:root{
    --primary-color: #F7F7F7;
    --secondary-color: #111111;
    --tertiary-color: #FEA301;
    --quaternary-color: #01ACFD;
}




/* header section start here */
header{
    padding: 20px 140px 0 140px;
}

/* navbar start here */
nav{
    display: flex;
    align-items: center;
}

nav>img{
    width: 62px;
    height: 62px;
    margin-right: 11px;

}

nav>h3{
    font-weight: 700px;
    font-size: 32px;
    color: var(--secondary-color);
    margin-right: 145px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    font-weight: 900px;
    font-size: 20px;
    text-decoration: none;
    margin-right: 32px;
}

.material-symbols-outlined{
    visibility: hidden;
}

#link-1{
    color: var(--tertiary-color);
}

#link-2{
    color: var(--quaternary-color);
}

#link-3{
    color: #05D4DF;
}

#link-4{
    color: #5D58EF;
    margin-right: 145px;

}

.btn-1{
    font-weight: 600px;
    font-size: 20px;
    color: var(--primary-color);
    padding: 10px 60px;
    background-color: var(--tertiary-color);
    border-radius: 12px;
    border: none;
}
/* navbar end here */



/* banner container start here */
.banner-container{
    display: flex;
  }

.banner-sub-container{
    margin: 122px 50px 104px 0;
}

.banner-sub-container>h1{
    font-weight: 700px;
    font-size: 56px;
    line-height: 61px;
}

#modify-1{
    color: var(--tertiary-color);
}

#modify-2{
    color: var(--secondary-color);
}

#modify-3{
    color: var(--quaternary-color);
}

.banner-sub-container>p{
    font-weight: 400px;
    font-size: 20px;
    color: var(--secondary-color);
    margin: 24px 0;
}

.btn-2{
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    background-color: var(--secondary-color);
    padding: 10px 47px;
    border-radius: 12px;
    border: none;

}

.banner-container>img{
    width: 469px;
    height: 575px;
}
/* banner container end here */


/* header section end here */







/* main section start here */

/* curriculum container start here */
.curriculum-container{
    text-align: center;
    padding: 90px 140px 60px 140px;
}

.curriculum-container>h2{
    font-weight: 700px;
    font-size: 46px;
    color: var(--secondary-color);
    margin-bottom: 80px;
}

.curriculum-card-container{
    display: flex;
    margin-bottom: 80px;
}

.curriculum-card{
    text-align: center;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    border-radius: 19px;
    border: none;
}

#curriculum-card-1{
    background-color: #def5ff;
    background-image: liner-gradient(to bottom, rgba(222, 245, 255, 3), rgba(255, 255, 255, 0)), rgba(255, 255, 255, 6);
}

#curriculum-card-2{
    background-color: #fff4dc;
    background-image: linear-gradient(rgba(255, 244, 220, 1), rgba(255, 255, 255, 0));
    margin: 0 10px;
}

#curriculum-card-3{
    background-color: #f2e8ff;
    background-image: linear-gradient(rgba(238, 225, 255, 1), rgba(255, 255, 255, 0));
}

.curriculum-card>img{
    width: 130px;
    height: 112px;
    margin: 53px 110px 0 110px;
}

.curriculum-card>h3{
    font-weight: 700px;
    font-size: 25px;
    color: #202020;
    margin: 32px 0;
}

.curriculum-card>p{
    font-weight: medium;
    font-size: 15px;
    line-height: 28px;
    color: #808080;
    margin: 0 40px 0 40px;

}


.curriculum-card>a{
    text-decoration: none;
    display: block;
    font-weight: bolder;
    font-size: 16px;
    margin: 38px 0 58px 0;
}

#curriculum-link-1{
    color: #64c8ff;
}

#curriculum-link-2{
    color: #f0aa00;
}


#curriculum-link-3{
    color: #8700ff;
}

.arrow{
    display: inline-block;
    align-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
}

.arrow-color{
    font-size: 30px;
    color: white;
}

.arrow:hover{
    background-color: #05D4DF;
}

.arrow-color:hover{
    color: black;
}

/* curriculum container end here */


/* main section end here */







/* footer section start here */
footer{
    width: 100%;
    background-color: var(--quaternary-color);
}

.footer-container{
    display: flex;
    padding: 123px 228px 174px 140px;
    color: white;
}

.education{
    margin-right: 122px;
}

.edu-sub{
    display: flex;
}

 
.edu-sub>img{
    width: 82px;
    height: 82px;
    filter: invert(180%);
    margin-right: 11px;
    margin-bottom: 35px;
}

.para-style p{
    font-weight: 700px;
    font-size: 33px;
}

.education>p{
    padding-left: 9px;
    font-weight: 400px;
    font-size: 20px;
    width: 400px;
}

.school{
    margin-right: 122px;
}

.school h3{
    font-weight: 700px;
    font-size: 24px;
    margin-bottom: 32px;
}

.school-link>a{
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    color: white;
}

.social-media h3{
    font-weight: 700px;
    font-size: 24px;
    margin-bottom: 32px;
}
/* footer section end here */








/* media query start here */
@media screen and (max-width: 576px) {
    body{
        max-width: 576px;
    }

    header{
        padding: 12px 0 0 0;
    }

    nav{
        align-content: space-between;
        gap: 0 78%;
        margin: 0 16px 12px 16px;
    }

    nav>img{
        width: 46px;
        height: 46px;
    
    }

    nav>h3, nav>ul{
        display: none;
    }

    .material-symbols-outlined{
        visibility: visible;
    }


    .banner-container{
        flex-direction: column-reverse;
        border-top: 1px solid var(--tertiary-color);
        margin: 8px 0 0 0;
    }

    .banner-container>img{
        margin: 20px 16px 0 20px;
        width: 340px;
        height: 413px;
     
    }

    .banner-sub-container{
        margin-top: 20px;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }

    .banner-sub-container>h1{
        font-weight: 700px;
        font-size: 32px;
        line-height: 50px;
        padding: 0 16px;
    }


    .banner-sub-container>p{
        font-weight: 500px;
        font-size: 25px;
        line-height: 40px;
        color: var(--secondary-color);
        padding: 20px;
        margin: 25px 0;
    }
    
    .btn-2{
        font-weight: 700;
        font-size: 26px;
        color: #ffffff;
        background-color: var(--secondary-color);
        padding: 10px 24px;
        border-radius: 8px;
        border: none;
    
    }



    .curriculum-container{
        text-align: center;
        padding: 80px 17px 0px 17px;
    }


    .curriculum-container>h2{
        font-weight: 700px;
        font-size: 30px;
        color: var(--secondary-color);
        margin-bottom: 30px;
    }
    
    .curriculum-card-container{
        flex-direction: column;
        row-gap: 30px;
        margin-bottom: 0;
    }


    .curriculum-card>img{
        width: 92px;
        height: 92px;
        margin: 53px 130px 0 130px;
    }
    
    .curriculum-card>h3{
        font-size: 22px;
        margin: 22px 0;
    }

    .curriculum-card>p{
        font-size: 26px;
        line-height: 30px;
        color: #808080;
        margin: 0 80px 0 80px;
    
    }


    
    .curriculum-card>a{
    font-weight: bold;
    font-size: 26px;
    margin: 22px 0 36px 0;
    }

    .arrow{
        display: none;
    }


    
    .footer-container{
    flex-direction: column;
    padding: 65px 15px 60px 21px;
    margin-top: 20px;
    }

    .education{
        margin-bottom: 32px;
    }


    .edu-sub>img{
        width: 69px;
        height: 69px;
        margin-right: 9px;
        margin-bottom: 22px;
    }

    .para-style p{
        font-size: 30px;
    }
    
    .education>p{
        padding: 0;
        width: auto;
    }
    
    
    .school{
    margin-right: 0;
    }
}

/* media query end here */